.nav-tabs .nav-link.active {
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
    color: #000;
}

.nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: #6c757d;
}

.card-tab {
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.card-tab img {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.card-body {
    padding: 15px;
}

.card-title {
    font-size: 0.8rem;
    font-weight: bold;
    line-height: 1.5;
}

.card-text {
    font-size: 0.875rem;
    color: #6c757d;
    margin-top: 5%;
}

.card-date {
    font-size: 0.75rem;
    color: #adb5bd;
}

@media (max-width: 767.98px) {
    .card-tabs {
        flex-direction: column;
    }

    .card-tab img {
        border-radius: 10px 10px 0 0;
        height: auto;
    }
}