@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --bgc-primary: rgb(207, 226, 255);
  --bgc-secondary: rgb(250, 200, 152);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  justify-self: center;
}

.container {
  max-width: 1100px !important;
}


.bungkus-judul-berita {
  display: flex;
  justify-content: center;
}

.shadow {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  /* Atur efek bayangan */
  border-radius: 50px;
  /* Sudut membulat (opsional) */
  padding: 20px;
  /* Ruang di dalam elemen (opsional) */
  background-color: white;
  /* Warna latar belakang (opsional) */
  transition: box-shadow 0.3s;
  /* Efek transisi saat hover */
}

.shadow-1 {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  /* Atur efek bayangan */
  border-radius: 50px;
  /* Sudut membulat (opsional) */
  padding: 20px;
  /* Ruang di dalam elemen (opsional) */
  background-color: transparent;
  /* Warna latar belakang (opsional) */
  transition: box-shadow 0.3s;
  /* Efek transisi saat hover */
}

.shadow-2 {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  /* Atur efek bayangan */
  border-radius: 30px;
  /* Sudut membulat (opsional) */
  padding: 20px;
  /* Ruang di dalam elemen (opsional) */
  background-color: transparent;
  /* Warna latar belakang (opsional) */
  transition: box-shadow 0.3s;
  /* Efek transisi saat hover */
}


.jud-pengumuman {
  font-size: 16px;
  margin: 0%;
  color: #052c65;
}

.jur-benefit{
  font-size: 16px;
  color: rgb(45, 45, 45);
}

.ket-menu {
  font-size: 15px;
  margin: 0%;
  color: rgb(96, 95, 95);
  text-decoration: none;
}

.jarak-konten{
  margin-top: 8%;
}




.group-menu {
  border: 1px solid rgb(228, 227, 227);
  padding: 15px;
  border-radius: 20px;
  transition: color 0.3s ease;
  justify-content: center;
}

.menu {
  transition: box-shadow 0.3s ease;
  border-radius: 20px;
}

.menu:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  /* Atur efek bayangan */
  border-radius: 20px;
  /* Sudut membulat (opsional) */
  border: none;
  background-color: transparent;
  /* Warna latar belakang (opsional) */
  transition: box-shadow 0.3s ease;

}

.bendera {
  background-color: transparent;
  border: none;
  border-left: 1px solid rgb(207, 207, 207);
}

.btn-jud {
  border-bottom: 1px solid rgb(169, 169, 169);
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 10px;
  background-color: transparent;
}

.h4-jud {
  
  background-color: transparent;
  font-size: 25px;
}

.card-tkj{
  border: 2px solid #01a8e8 !important;
  border-radius: 13px !important;
  border-top-right-radius: 0% !important;
  border-top-left-radius: 0% !important;
}


.paling-laris{
  background-color: #01a8e8;
  border: none;
  width: 100%;
  padding: 10px 10px;
  font-size: 18px;
  color: white;
  border-top-right-radius: 13px;
  border-top-left-radius: 13px;

}

.card-benefit{
  border: 2px solid #01a8e8 !important;
  border-radius: 13px !important;
}

.welcome-smk{
  color: #01a8e8;
}

.btn-eskul {
  border: none;
  padding: 5px 20px;
  border-radius: 30px;
  background-color: rgb(255, 119, 0);
}

.alert-primary {
  background-color: #eff6ff !important;
  border-left: 5px solid #01a8e8 !important;
  border-top: none !important;
  border-right:none !important ;
  border-bottom: none !important;
  padding: 5px;
}

.bg-jurusan {
  border: 1px solid rgb(173, 173, 173);
  background-color: transparent;
  padding: 10px 10px;
}

.bg-eskul {
  border: none;
  background-color: rgb(255, 119, 0);

  padding: 10px 10px;
}

.btn-pilih{
  border: 2px solid #01a8e8;
  padding: 10px 0px;
  background-color:transparent;
  border-radius: 10px;
  width: 80%;
  color:#01a8e8;
}
.btn-pilih:hover{
  border: 2px solid #01a8e8;
  padding: 10px 0px;
  background-color:#01a8e8;
  border-radius: 10px;
  width: 80%;
  color:white;
}

.btn-tkj{
  border: none;
  padding: 12px 0px;
  background-color: #01a8e8;
  border-radius: 10px;
  color:white;
  width: 80%;
}

.btn-tkj:hover{
  border: 2px solid #01a8e8;
  padding: 10px 0px;
  background-color:transparent;
  border-radius: 10px;
  width: 80%;
  color:#01a8e8;
}

.custom-carousel {
  width: 80%;
  margin: 0 auto;
}

.text-benefit{
  font-size: 14px;
  color: #052c65;
  margin-bottom: 7%;
  margin-left: 0%;
  margin-right: 0%;
}
.info{
  color: #052c65;
  font-size: 15px;
}

.instagram-feed {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

@media (max-width:768px) {
  .info{
    font-size: 12px;
  }
}


@media (max-width: 520px) {
  .img-jurkul {
    width: 60px;
  }

  .paling-laris{
    margin-top: 45px;
  }

  .carousel-inner {
    height: 150px;
  }

  .carousel-item img {
    height: 150px;
  }


  .info{
    font-size: 12px;
  }

  .bungkus-btn-welcome{
    margin-top: 10%;
  }

  .bungkus-text-welcome{
    justify-content: center;
    text-align: center;
  }


}


@media (max-width:920px) {
  .res-text .card-text {
    font-size: 10px;
  }


}

@media (max-width: 404px) {
  .img-jurkul {
    width: 40px;
  }
  .info{
    font-size: 13px;
  }

  .jud-pengumuman{
    font-size: 14px;
  }

  .group-menu {
    justify-content: left;
    border-top: none;
    border-left: none;
    border-right: none;
  }

  .swiper-full .swiper-slide {
    height: 150px;
  }

  .bungkus-text-welcome{
    justify-content: center;
    text-align: center;
  }
  .paling-laris{
    margin-top: 45px;
  }
  .er {
    height: 150px;
  }
  .text-benefit{
    text-align: center;
  }
  .img-sambutan{
    justify-content: center;
  }
  .ucapan{
    justify-content: center;
    text-align: center;
  }
  .bungkus-btn-welcome{
    margin-top: 10%;
  }



}

@media (max-width: 385px) {

  .carousel-inner {
    height: 120px;
  }

  .bungkus-text-welcome{
    justify-content: center;
    text-align: center;
  }


  .img-sambutan{
    justify-content: center;
    width: auto;
  }

  .carousel-item img {
    height: 120px;
  }

  .paling-laris{
    margin-top: 45px;
  }

  .group-menu {
    justify-content: left;
  }

  .info{
    font-size: 12px;
  }


}

@media (max-width: 325px) {
  .img-jurkul {
    width: 25px;
  }
  .paling-laris{
    margin-top: 45px;
  }
  .bungkus-text-welcome{
    justify-content: center;
    text-align: center;
  }

  .group-menu {
    justify-content: left;
  }

  .info{
    font-size: 12px;
    color: #052c65;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

}